$page-width: 80%;
$lengthOfSpan:200px;
$fontSize: $lengthOfSpan/4;

*
{
  box-sizing:border-box;
}
body{
  @include breakpoint(papa-bear) {
    background: $wool;
  }
  @include breakpoint(mama-bear) {background: $wool;
  }
  @include breakpoint(baby-bear) {

    margin: 0;
    padding-left: 0;
    background: $wool;}
  }
  .wrapper{
    width: $page-width;
    min-width:370px;
    @include breakpoint(papa-bear) {
      margin: 0 10%;
    }
    @include breakpoint(mama-bear) {
      margin: 0 10%;
    }
    @include breakpoint(baby-bear) {
      margin: 0 auto;
      padding-left: 0;
    }
  }
  .banner{
    @include breakpoint(papa-bear) {

     //background:green;
     margin: 0 auto;
     display:table;
   }
   @include breakpoint(mama-bear) {

    //background:white;
    margin: 0 auto;
    display:table;
  }
  @include breakpoint(baby-bear) {

    //background:blue;
    margin: 25px auto 0;
    padding-left: 0;
    display:block;}
    background: $plasterWall;
    border-radius: 20px 20px 0 0;
    border-bottom: 3px solid darken($plasterWall, 8%);
    width: 100%;
  }
  .top
  {
    vertical-align:top;
  }
  .bottom
  {
    vertical-align:bottom;
    text-align: right;
  }
  .bottom,.top
  {
    @include breakpoint(papa-bear) {

      font-family: 'Satisfy', cursive;
      display: table-cell;
      padding: 4%;
      font-size: $fontSize/2;
      color: darken($oliveTurtleneck, 5%);
    }
    @include breakpoint(mama-bear) {

      font-family: 'Satisfy', cursive;
      display: table-cell;
      padding: 4%;
      font-size: $fontSize/2;
      color: darken($oliveTurtleneck, 5%);
    }
    @include breakpoint(baby-bear) {

      font-family: 'Satisfy', cursive;
      width:100%;
      text-align: center;
      display: block;
      padding: 4%;
      font-size: $fontSize/2;
      color: darken($oliveTurtleneck, 5%);}

    }
    .logo{
      @include breakpoint(papa-bear) {

        font-size: $fontSize;
        font-family: Pacifico;
        background: $wool;

        margin: 50px auto;
        display: table;
        width: $lengthOfSpan;
        height: $lengthOfSpan;

        border-radius: $lengthOfSpan ;

      }
      @include breakpoint(mama-bear) {

        font-size: $fontSize;
        font-family: Pacifico;
        background: $wool;

        margin: 50px auto;
        display: table;
        width: $lengthOfSpan;
        height: $lengthOfSpan;

        border-radius: $lengthOfSpan ;

      }
      @include breakpoint(baby-bear) {

        font-size: $fontSize;
        font-family: Pacifico;
        background: $wool;

        margin: 0 auto;
        display: table;
        width: $lengthOfSpan;
        height: $lengthOfSpan;

        border-radius: $lengthOfSpan ;
      }

      a{
    //line-height: $lineAdjustment;
    vertical-align: middle;
    text-align:right;
    padding: 26% 18% 0 0;
    //position: relative;
    //background:red;
    display:table-cell;
    text-decoration: none;
    color: darken($plasterWall,0%);
    // margin: auto;
  }
}
nav.fastLinks
{
  margin: 0 15% 1% 15%;
  display: block;
  background: darken($plasterWall, 5%);
  padding: 0;
  border-radius: 0 0 10px 10px;
  ul
  {
    margin: 0px;
    padding:8px;
  }
  li
  {

    padding: 0px;
    width: 30%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
  }
  a
  {
    font-family: 'Satisfy', cursive;
    //font-variant: small-caps;
    font-size: $fontSize/4;
    color:darken($oliveTurtleneck, 5%);
    margin: 0;
    text-decoration: none;
    padding: 2% 4%;
    //border: 4px solid red;

    &:hover
    {
      background: darken($plasterWall, 8%);
    }
    &:active
    {
      color: darken($wool, 10%);

    }

  }
}
.content
{
  //border: 2px solid blue;
  margin: auto;
  width:45%
}
.socmed-container
{
  width: 100%;
  margin: 0 auto;
  //border: 2px solid blue;
  &.below{
   @include breakpoint(papa-bear) {

    display:none;
    
  }
  @include breakpoint(mama-bear) {
    display:none;
  }
  @include breakpoint(baby-bear) {

    
  } 
}
&.above{
 @include breakpoint(papa-bear) {
  ul
  {
    margin: 0 1%;
  }


}
@include breakpoint(mama-bear) {
  ul
  {
    margin: 0 1%;
  }
}
@include breakpoint(baby-bear) {
  display:none;
} 
}
ul
{
    //border: 2px solid blue;
    @include breakpoint(papa-bear) {

    margin: 0 1%;
    
  }
  @include breakpoint(mama-bear) {
    margin: 0 1%;
  }
  @include breakpoint(baby-bear) {
    margin: 0 auto;
    
  } 
    padding:0px;
    width: intrinsic;
    text-align: center;
  }
  li
  {
    //border: 2px solid blue;
    //padding: 0 5%;
    //width: 32%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-size: $fontSize;
    color: darken($plasterWall,5%);
    a
    {
      text-decoration: none;
      color: darken($plasterWall,5%);
      &:hover
      {
        color: lighten($plasterWall, 0%);
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}